body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #020617, #0f172a);
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  color: #facc15;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #3b82f6;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #3b82f6;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: #2563eb;
  transform: scale(1.05);
}

/* TOURNOIS */
.tournois {
  padding: 40px;
  text-align: center;
}

.card {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}
.classementd1-page .classement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

  .classementd1-page .ranking {
  border-collapse: collapse;
  width: 400px;
  background: #020617;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(59,130,246,0.5);
}

.classementd1-page th {
  background: #1e293b;
  padding: 15px;
  color: #facc15;
}

.classementd1-page td {
  padding: 12px;
  text-align: center;
}

.classementd1-page tr:hover {
  background: #1e40af;
}

.classementd1-page tr:nth-child(2) td:first-child::before {
  content: "";
}
.classement-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* espace entre tableaux */
    flex-wrap: wrap;
}

.classementd1-page .ranking {
    border-collapse: collapse;
    width: 300px;
    background: #020617;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(59,130,246,0.5);
}
.classement-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classement-card h2 {
    margin-bottom: 15px;
}
.avatar {
    position: absolute;
    left: 20px;        /* distance du bord gauche */
    top: 70%;          /* milieu vertical */
    transform: translateY(-50%);
    width: 100px;      /* taille image */
    border-radius: 50%;    /* rend l'image ronde */
    object-fit: cover;     /* évite l'image écrasée */
}
.avatar2 {
    position: absolute;
    left: 20px;        /* distance du bord gauche */
    top: 85%;          /* milieu vertical */
    transform: translateY(-50%);
    width: 100px;      /* taille image */
    border-radius: 50%;    /* rend l'image ronde */
    object-fit: cover;     /* évite l'image écrasée */
}
.profil {
    display: flex;
    align-items: center; /* centre verticalement */
    gap: 50px;           /* espace image / texte */
}
